.main-head{
    width: 95%;
    margin: 0 0 0 auto;
    
}

nav{
    @include flex(space-between, center, row);
    min-height: 10vh;
    width: 60%;
    flex-wrap: wrap;
    .logo{
        @include flex(flex-start,center,row);
        flex: 1 1 10rem;
    }
    h1{
        margin: 2rem;
    }
    
    ul{
        @include flex(space-around,center,row);
        flex:1 1 40rem;
    }

    .hamburger.hamburger--emphatic-r.is-active{
        display: none;
    }
}


.intro{
    min-height: 90vh;
    width:90%;
    margin: auto;
    flex-wrap: wrap;
    @include flex(space-between,center,row);
    h2{
        font-size: 8rem;
        padding-top: 2rem;
        background:$gradient;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        display: inline-block;
    }
    h3{
        font-size: 6rem;
        padding-top: 2rem;
    }
    p{
        padding-top: 2rem;
        color: $gray-text;
    }

   
    
}

.intro-social{
    margin-top:4rem;
    a+a{
       margin-left: 4rem;
    }
}



.splash{
    position: absolute;
    top: 0;
    right: 0;
    height:100%;
    z-index: -1;
    
}
.splash2{
    display: none;
}

.active{
    background:$gray-text;
    color: white;
    padding:1rem 3rem;
    border-radius: 5px;
    border:none;
   
}


.intro-text,.intro-images{
    flex:0 3 50rem;
}
/* Animations */

#plant-left{
    position: relative;
    animation: plant 5s infinite alternate;
  }

  #me{
    position: relative;
    animation: me 1s ease infinite alternate;
    transform-origin: bottom;
  }

  #plant-right{
   
    
    position: relative;
    animation: plant 5s infinite alternate 0.5s;
  }


  #clock-arrow{
    
    animation: clock 1s  infinite linear;
    transform-box: fill-box;
    transform-origin: bottom;
  }

  @keyframes clock {
      from{
          transform:rotateZ(-5deg)
      }

      to{
          transform: rotateZ(360deg);
      }
  }


  @keyframes me {
    from{
        transform:rotateZ(-5deg)
    }

    to{
        transform: rotateZ(5deg);
    }
}



  @keyframes plant {
    from {bottom: 0px;}
    to {bottom: 200px;}
  }