$header1: 2.5rem;
$header2: 4rem;
$header3: 2.5rem;
$header4: 2rem;
$header1: 2.5rem;
$text: 2.5rem;
$gradient: linear-gradient(left, rgba(223, 138, 1, 0.767)0000);
$gray-text:gray;
$background: #2c2c2c;

@mixin flex($jusitfy, $align, $direction) {
  display: flex;
  justify-content: $jusitfy;
  align-items: $align;
  flex-direction: $direction;
}

@import "global";
@import "intro";
